<div class="container view-container">
    
    <div class="row">
        
        <div class="col-md-4 col-md-offset-4 text-center profile-info-container">
            <h2><i class="fa fa-user"></i>  Your Info</h2>
            <div ng-if="dash.error" class="alert alert-danger">{{dash.errorMessage}}</div>
            <div ng-if="dash.userInfo">
                <p>Username: {{dash.userInfo.name}}</p>
                <p>Email: {{dash.userInfo.email}}</p><br>
                <p>Link Another Account</p>
                <span class="social-link facebook"><i class="fa fa-facebook"></i> &nbsp;Facebook</span>
                <span class="social-link twitter"><i class="fa fa-twitter"></i> &nbsp;Twitter</span>
            
            </div>
        </div>
	</div>
    
		
</div>