<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center night-life-search-container">
            
            <h1>Find a bar or club in your area</h1>
            <form>
                <input class="form-control night-life-search" ng-model="main.location" placeholder="Where are you?"><br>
                <input type="submit" class="btn night-life-button" ng-click="main.callYelp()" value="Search">
            </form>
            
        </div>
    </div>
    



    <div class="container">
    <div class="row">
           <div class="col-md-10 col-md-offset-1 night-life-container">
               <div class="row">
                    <div class="col-md-6" ng-repeat="venue in main.nightlifeData">
                        <div class="night-life-data">
                            <img class="venue-image" ng-src="{{venue.image_url}}">
                            <h4 class="venue-title"><a ng-href="{{venue.mobile_url}}" target="_blank">{{venue.name}}</a> &nbsp; </h4>
                            <i class="fa fa-star venue-rating"> {{venue.rating}}</i>
                            <p><span ng-repeat="tag in venue.categories">{{tag[0]+ ','}} &nbsp;</span></p>
                            <p>{{venue.location.neighborhoods[0]}}</p>
                            <p><i class="fa fa-map-marker"></i>  {{venue.location.address[0]}}</p>
							<p ng-if="venue.attending"><i class="fa fa-user"></i> {{venue.attending}}</p>
							<button class="btn venue-going-btn" ng-click="main.attend(venue)">Going?</button></p>
                            <div class="clear"></div>
                            
                        </div>
                        
                    </div>
               </div>
            </div>     
    </div>
    </div>
   
</div>
